<div class="about-container text-center">
  <h1 class="mb-4">About This Project</h1>

  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Author</h5>
      <p class="card-text">dqmdz</p>
    </div>
  </div>

  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Angular Version</h5>
      <p class="card-text">{{ angularVersion }}</p>
    </div>
  </div>

  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">GitHub Repository</h5>
      <a href="https://github.com/dqmdz/angular_proof_of_concept.git" target="_blank" class="btn btn-primary">Visit Repo</a>
    </div>
  </div>

  <!-- Nuevo apartado para el enlace del backend -->
  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Backend GitHub Repository</h5>
      <a href="https://github.com/dqmdz/express_proof_of_concept/tree/express-proof-of-concept-sqlite" target="_blank" class="btn btn-primary">
        Visit Backend Repo
      </a>
    </div>
  </div>
</div>
