.home-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .mt-4 {
    margin-top: 20px;
  }
  
  h2 {
    color: #495057;
  }
  